/node_modules
/dist
/.tmp
/.sass-cache
/bower_components
*.swo
*.swp
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
session.vim
.netrwhist
*~
/node_modules
/dist
/test
/.tmp
/.sass-cache
/bower_components
tags
/images/(.*)
